/* Additional CSS added to template post download */

/* Portfolio Page CSS */

.shake-image:hover {
    animation: shake 1s ease-in-out infinite;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    75% { transform: translateX(5px) rotate(5deg); }
    100% { transform: translateX(0); }
  }

  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  
  .bouncing-element:hover {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating-element:hover {
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes move-off-screen {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .off-screen-element:hover {
    animation-name: move-off-screen;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .timeline {
    position: relative;
    margin: 50px auto;
    padding: 0;
    width: 2px;
    background-color: #ccc;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 50px;
  }
  
  .timeline-content {
    position: relative;
    margin-left: 40px;
    width: 260px; /* Adjust the width as per your requirements */
  }
  
  .timeline-title {
    margin-top: 0;
    position: relative;
  }
  
  .timeline-description {
    margin-bottom: 10px;
  }
  
  .timeline-date {
    font-size: 14px;
    color: #999;
  }
  
  .timeline-item.left .timeline-content {
    margin-left: -280px; /* Adjust the distance from the timeline line */
    margin-right: 40px;
  }
  
  /* Style the last timeline item */
  .timeline-item:last-child {
    margin-bottom: 0;
  }
  